<div>
  <table mat-table [dataSource]="expenses" class="mat-elevation-z8" fxFlex="100">

    <!-- Name Column -->
    <ng-container matColumnDef="Tipo" fxFlex="30">
      <th mat-header-cell *matHeaderCellDef> Tipo</th>
      <td mat-cell *matCellDef="let element"> {{element.expenseType.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Descripcion" fxFlex="30">
      <th mat-header-cell *matHeaderCellDef> Descripcion</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Valor" fxFlex="30">
      <th mat-header-cell *matHeaderCellDef> Valor</th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Editar Gasto {{nameItem}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-edit-item-content">
      <form [formGroup]="formExpense">

        <mat-form-field>
          <input matInput placeholder="Tipo de gasto"
                 type="text"
                 formControlName="expenseType">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Description"
                 type="text"
                 formControlName="description">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Gasto"
                 type="number"
                 formControlName="value">
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions class="card-edit-item-button">
      <button mat-button (click)="editExpense()">Edit</button>
      <button mat-button [routerLink]="'/itemdetail/'+ itemId">Cancelar</button>
    </mat-card-actions>
  </mat-card>

</div>
