<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Catalogo</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="itemInstances">
    <!--binding del dom al property del objeto
    [propiedadDelComponente]="valorDesdeElDOM"
    bind-propiedadDelComponente="valorDesdeElDOM"
    -->
    <mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let itemInstance of itemInstances"
                     [routerLink]="['/itemdetail', itemInstance.id]">
        <img height="200px" data-src="data:image/png;base64,{{itemInstance.featuredImage}}"
             alt={{itemInstance.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{itemInstance.item.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="itemInstances">
    <mat-spinner></mat-spinner>
    <h4>Cargando . . . Por favor espere!</h4>
  </div>

</div>
